{% extends "layout.html" %}

{% block content %}

<section id="Meteo">
    <h2>Météo </h2>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#anjouanMeteo">Anjouan</a></li>
        <li><a data-toggle="tab" href="#moroniMeteo">Moroni</a></li>
        <li><a data-toggle="tab" href="#moheliMeteo">Mohéli</a></li>
        <li><a data-toggle="tab" href="#mayotteMeteo">Mayotte</a></li>
    </ul>

    <div class="tab-content">
        <div id="#anjouanMeteo" class="tab-pane fade in active">
            <h3>Anjouan</h3>
            <p>Some content.</p>
        </div>
        <div id="#moroniMeteo" class="tab-pane fade">
            <h3>Moroni</h3>
            <p>Some content in menu 1.</p>
        </div>
        <div id="#moheliMeteo" class="tab-pane fade">
            <h3>Mohéli</h3>
            <p>Some content in menu 2.</p>
        </div>
        <div id="#mayotteMeteo" class="tab-pane fade">
            <h3>Mayotte</h3>
            <p>Some content in menu 2.</p>
        </div>
    </div>
</section>

{% endblock %}
